:root {
  --font-contactos: "Kode Mono", monospace;
  --font-h2: "Quantico", sans-serif;
  --font-sobre-mi-p: "Tomorrow", sans-serif;
  --font-1: "Anek Latin", sans-serif;
  --font-2: "Iceland", sans-serif;
  --font-3: "Tourney", sans-serif;
  --font-4: "Russo One", sans-serif;
  --font-5: "Poiret One", sans-serif;
  --font-7: "Audiowide", sans-serif;
  --font-9: "Black Ops One", system-ui;
  --font-10: "Rubik Doodle Shadow", system-ui;
  --font-11: "Allerta Stencil", sans-serif;
  --font-12: "Bungee Inline", sans-serif;
  --font-13: "Geo", sans-serif;
  --font-14: "Rationale", sans-serif;
  --font-16: "Bungee Hairline", sans-serif;
  --font-17: "Protest Guerrilla", sans-serif;
  --font-18: "Rubik Burned", system-ui;
  --font-19: "Rubik 80s Fade", system-ui;
  --font-20: "Rubik Pixels", system-ui;
  --font-21: "Rubik Storm", system-ui;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: #31363f;
  color: white;
  font-size: 1rem;
  max-width: 800px; /* Ancho máximo */
  margin: 0 auto; /* Centra el contenido */
  padding: 0 20px; /* Espacio en los laterales para pantallas pequeñas */
  margin-top: 60px;
}

/* Header */
.contenido-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.foto_ivan {
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 30%;
  object-fit: cover;
}

.contactos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.nombre {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nombre h1 {
  font-family: var(--font-contactos);
  font-size: 1.7rem;
  font-weight: 500;
}

.nombre p {
  font-family: var(--font-contactos);
  font-size: 1.3rem;
}

.ubicacion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.ubicacion p,
.email-redes-cv p {
  font-family: var(--font-contactos);
  font-size: 0.9rem;
}

.email-redes-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons {
  padding: 0px 2px;
}

.sobre-mi h2 {
  margin-top: 40px;
  font-family: var(--font-h2);
}

.sobre-mi p {
  text-align: justify;
  margin-top: 15px;
  font-family: var(--font-sobre-mi-p);
  font-weight: 200;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* Main */

main h2 {
  margin: 35px 0px 25px;
  font-family: var(--font-h2);
  font-size: 1.4rem;
}

/* Tecnologías */
.tecnologias {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.git {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: rgb(227, 225, 225);
  font-family: var(--font-1);
  font-weight: 600;
  color: #31363f;
  padding: 1.9px 6px;
  border-radius: 0.2rem;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: rgb(227, 225, 225);
  font-family: var(--font-1);
  font-weight: 600;
  color: #31363f;
  padding: 5.8px 5px;
  border-radius: 0.2rem;
}

.html {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(227, 225, 225);
  font-family: var(--font-1);
  font-weight: 600;
  color: #31363f;
  border-radius: 0.2rem;
  padding: 6px 5px;
}

.css {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(227, 225, 225);
  font-family: var(--font-1);
  font-weight: 600;
  color: #31363f;
  border-radius: 0.2rem;
  padding: 6px 5px;
}

.javascript {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgb(227, 225, 225);
  font-family: var(--font-1);
  font-weight: 600;
  color: #31363f;
  border-radius: 0.2rem;
  padding: 6px 5px;
}

.markdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgb(227, 225, 225);
  font-family: var(--font-1);
  font-weight: 600;
  color: #31363f;
  border-radius: 0.2rem;
  padding: 2px 4px;
}

/* Proyectos */

.proyectos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.titan-force-studio, .project-felidos {
  border: 1px solid rgba(255, 255, 255, 0.194);
  padding: 10px;
  border-radius: 0.5rem;
}

.titan-force-studio-imagen,
.proyect-card {
  display: flex;
  justify-content: center;
  align-items: centeer;
  gap: 100px;
}

.titan-figcaption,
.project-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.titan-figcaption h3,
.project-info h3 {
  font-family: var(--font-h2);
  color: #67c9dd;
  font-size: 1.25rem;
  padding-bottom: 5px;
}

.titan-figcaption p,
.project-info p {
  font-family: var(--font-sobre-mi-p);
  font-weight: 200;
  line-height: 1.5rem;
  font-size: 1rem;
}

.tecnologia-usada {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.html-css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}

.tecnologia-html,
.tecnologia-css {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.icon-html-5,
.icon-css {
  width: 18px;
}

.repo-github {
  width: 25px;
}

.repo-link,
.demo-link,
.tecnologia-css,
.tecnologia-html {
  display: flex;
  gap: 0.5rem;
  font-family: var(--font-13);
}

.imagen-titan,
.imagen-feline {
  height: 200px;
  width: 180px;
  border: 1px solid rgba(255, 255, 255, 0.194);
  border-radius: 0.5rem;
}

/* Formación */



/* Responsive */

@media (max-width: 480px) {
  body {
    margin-top: 45px;
  }
  .foto_ivan {
    max-width: 120px; /* Tamaño ligeramente menor en móviles */
  }

  .contenido-header {
    flex-direction: column; /* Apila los elementos en móvil */
    text-align: center;
  }

  .titan-force-studio-imagen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .hidden-mobile {
    display: none;
  }
}
